html, body {
    background: #111;
    color: #DDD;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.Visualizer {
    align-items: flex-end;
    display: flex;
    flex-flow: row nowrap;
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.Visualizer-bar {
    background: #00F;
    flex-basis: 0;
    flex-grow: 1;
}

.Instructions,
.Licenses {
    text-align: right;
    padding: 10px;
    position: absolute;
    right: 0;
    z-index: 1000;
}

.Instructions {
    top: 0;
}

.Licenses {
    bottom: 0;
}