.ControlKnobContainer {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  margin: 0px;
}

.ControlKnobContainer canvas {
  cursor: pointer;
}

.ControlKnobLabel {
  margin-top: -10px;
  cursor: auto;
  display: block;
}
