.RanksContainer {
  margin-bottom: 10px;
  width: 100%;
}

.RanksContainer h2 {
  margin-left: 10px;
}

.Ranks {
  border-radius: 4px;
  display: flex;
  flex-flow: row wrap;
  overflow: hidden;
}

.RankToggle {
  background: #fff1;
  border-bottom: 1px solid transparent;
  color: #aaa;
  cursor: pointer;
  flex: 1;
  padding: 5px 15px;
  text-align: center;
  user-select: none;
}

.RankToggle.on {
  background: #fff4;
  color: #fff;
}

.RankToggle:hover {
  border-bottom-color: #ddd;
}

.RankToggle:active {
  background: #fff5;
}

.RankNumber {
  display: block;
}

.RankStatus {
  display: block;
  font-size: 0.8em;
}
