.Tremulator {
  background: #fff4;
  border-radius: 4px;
}

.Tremulator h2 {
  width: 100%;
  margin-top: 5px;
  margin-left: 10px;
}

.TremulatorKnobs {
  display: flex;
  flex-flow: row wrap;
}

.TremulatorKnobs > * {
  margin: 10px;
}
